
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <p>Hello World</p>
    <h1>Space</h1>
    <div class="space">
        {% for space in space %}
        <div class="planets">
            <h2><a href="">{{ space.title }}</a></h2>
            <p>{{ space.snippet }}</p>
            <p>{{ space.status }}</p>
            <p>{{ space.flagged }}</p>
        </div>
        {% endfor %}
    </div>

    <script type="text/javascript" src="{% static '/js/script.js' %}"></script>
</body>
</html>